/* Chatbot.css */

/* Center the chat container vertically and horizontally */
.chat-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 80vh; /* 70% of viewport height */
    width: 100vw; /* 70% of viewport width */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Chat messages */
.message-container {
    display: flex;
    justify-content: flex-start; /* Align messages to the left by default */
    margin-bottom: 10px;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
  }
  
  .user {
    justify-content: flex-end; /* Align user messages to the right */
    align-self: flex-end;
    background-color: #007bff; /* Blue background color for user messages */
    color: #fff; /* Set text color to white */
  }
  
  .bot {
    justify-content: flex-start; /* Align bot messages to the left */
    align-self: flex-start;
    background-color: #fff; /* White background color for bot messages */
    color: #000; /* Set text color to black */
  }
  
  
  /* Input container */
  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Input field */
  .input-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  /* Send button */
  .send-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  