/* Checkout.css */

.checkout-container {
    width:80vmax;
    margin: 100px auto;
    font-family: 'Arial', sans-serif;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 130px; /* Half of the space you want outside the container */
    margin-right: 130px; 
  }
  
  h2{
text-align: center;
  }
  h2, h3, h4, p {
    margin: 0;
  }
  
  .items-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .item-image {
    width: 64px; /* Adjust as necessary */
    height: 64px; /* Adjust as necessary */
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .item-info {
    flex-grow: 1;
  }
  
  .item-info h3 {
    font-size: 1em;
    color: #333;
  }
  
  .item-info p {
    font-size: 0.8em;
    color: #666;
  }
  
  .item-price {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .item-quantity span {
    margin: 0 10px;
  }
  
  .summary {
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .summary h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .summary p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .summary-item h4 {
    flex: 1; /* Title to take up remaining space */
    margin: 0;
  }
  
  .summary-item p {
    margin: 0;
  }
  
  .confirm-order {
    display: block; /* Change display to block */
    width: 100%; /* Set width to 100% */
    background-color: blue;
    color: white;
    padding: 10px 0; /* Adjust padding */
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center; /* Center text */
    margin-top: 20px;
  }
  
  
  .confirm-order:hover {
    background-color: #45a049;
  }
  

