/* Checkout.css */
.checkout-container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2{
text-align: center;
  }
  h2, h3, h4, p {
    margin: 0;
  }
  
  .items-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .item-image {
    width: 64px; /* Adjust as necessary */
    height: 64px; /* Adjust as necessary */
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .item-info {
    flex-grow: 1;
  }
  
  .item-info h3 {
    font-size: 1em;
    color: #333;
  }
  
  .item-info p {
    font-size: 0.8em;
    color: #666;
  }
  
  .item-price {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .item-quantity span {
    margin: 0 10px;
  }
  
  .summary {
    text-align: right;
    margin-top: 20px;
  }
  
  .summary > div {
    margin-bottom: 10px;
  }
  
  .summary h3, .summary h4 {
    font-size: 1em;
  }
  
  .summary p {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
  }
  
  .confirm-order {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
  }
  
  .confirm-order:hover {
    background-color: #0056b3;
  }
  

