body {
  margin: 0;
  font-family: 'Blo-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Import your custom font */
@font-face {
  font-family: 'Blo-Regular';
  src: url('./fonts/Blo-Regular.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

