/* Profile.css */

.profile-container {
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
}

.profile-details {
  flex-grow: 1;
  margin-right: 20px;
}

.payment-details {
  min-width: 300px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  text-align: right; /* Align labels to the right */
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.error-message {
  color: red;
}

.edit-button {
  background-color: #2196F3;
}

.edit-button:hover {
  background-color: #0b7dda;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  .profile-content {
    flex-direction: column;
  }

  .profile-details {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .payment-details {
    width: 100%;
  }

  label {
    text-align: left; /* Align labels to the left for smaller screens */
  }
}
