.shipping-container {
  width: 80vmax;
  margin: 100px auto;
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 130px; /* Half of the space you want outside the container */
  margin-right: 130px; 
}

.shipping-form {
  width: 400px;
  margin: auto;
}

.shipping-input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.phone-number-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.country-code {
  padding: 10px;
}

.shipping-select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.confirm-button {
  display: block; /* Change display to block */
  width: 100%; /* Set width to 100% */
  background-color: blue;
  color: white;
  padding: 10px 0; /* Adjust padding */
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-align: center; /* Center text */
  margin-top: 20px;
}


.confirm-button:hover {
  background-color: #45a049;
}
